%h1= "#{possessive_pronoun_for_user} Kitchen"
#score
  = @user.kitchen_efficiency_score_display
  - if current_user == @user
    %br
    = @user.kitchen_efficiency_score_description
%br
%h3= "#{possessive_pronoun_for_user} Ingredients"
- if current_user == @user
  - ingredient = Ingredient.new
  #ingredient-notice
  = form_for  ingredient, 
              :url => user_ingredients_path(@user, ingredient), 
              :remote => true do |f|
    = f.label       :name
    = f.text_field  :name
    = f.submit :value => "Add Ingredient"
    %br

#ingredients
  - @user.ingredients.each do |ingredient|
    = render(ingredient)
%br

%h3= "#{possessive_pronoun_for_user} recipes"
- if current_user == @user
  - recipe = Recipe.new
  #recipe-notice
  = form_for  recipe,
              :url => user_recipes_path(@user, recipe),
              :remote => true do |f|
    = f.label       :link_name
    = f.text_field  :link_name
    %br
    = f.label       :link_url
    = f.text_field  :link_url
    = f.submit :value => "Add Recipe"
    %br

#recipes
  - @user.recipes.each do |recipe|
    = render(recipe)