%h1= "#{possessive_pronoun_for_user} Kitchen"
#score
  = @user.kitchen_efficiency_score_display
  - if current_user == @user
    %br
    = @user.kitchen_efficiency_score_description
%br
%h3= "#{possessive_pronoun_for_user} Ingredients"
- if current_user == @user
  - ingredient = Ingredient.new
  #ingredient-notice
  = form_for  ingredient, 
              :url => user_ingredients_path(@user, ingredient), 
              :remote => true do |f|
    %table.form
      %tr
        %td.label
          = f.label       :name, "Ingredient name"
        %td.field
          = f.text_field  :name
        %td.submit
          = f.submit :value => "Add Ingredient"

#ingredients
  - @user.ingredients.each do |ingredient|
    = render(ingredient)
%br

%h3= "#{possessive_pronoun_for_user} recipes"
- if current_user == @user
  - recipe = Recipe.new
  #recipe-notice
  = form_for  recipe,
              :url => user_recipes_path(@user, recipe),
              :remote => true do |f|
    %table.form
      %tr
        %td.label
          = f.label       :link_name, "Recipe name"
        %td.field
          = f.text_field  :link_name
      %tr
        %td.label
          = f.label       :link_url, "Recipe link URL (optional)"
        %td.field
          = f.text_field  :link_url
        %td.submit
          = f.submit :value => "Add Recipe"

#recipes
  - @user.recipes.each do |recipe|
    = render(recipe)